<%- include partials/header.ejs -%>
<h1 class="mt-3">Home</h1>
<p><%=home%></p>
<% for(let i of postNew){ %>
    <h1 class="mt-3"><%=i.title%></h1>
    <p><%=i.posting%></p>
    <% } %>
 <%- include partials/footer.ejs -%>