<%- include partials/header.ejs -%>
<div class="shadow-sm container">
<h1 class="mt-3" id="menus">Home</h1>
<p class="text-justify"><%=home%></p>
</div>
<% for(let i of postNew){ %>
    <div class="shadow-sm container">
    <h1 class="mt-3"><%=i.title%></h1>
    <p class="text-justify"><%=i.posting.substring(0,100)%> ... <a href="/posts/<%=i.title %>">Read More</a></p>
    <button class="btn btn-primary" id="delete">Delete</button>
    </div>
    <% } %>
    
 <%- include partials/footer.ejs -%>