<%- include partials/header.ejs -%>
<table class="table" id="homeContainer">
    <tbody id="data"> 
       <tr>
           <td>  
               <form >
                    <div class="shadow-sm container" id="homeContainer">
                         <h4 class="mt-3" id="menus">Home</h4>
                         <p class="text-justify"><%=home%></p>
                    </div>
                </form>
            </td>
        </tr> 
        
    <%if(postNew.length>0) {%>
     <% for(let i of postNew) {%>
        <tr>
            <td>
                <div class="shadow-sm container" >
                    <form action="/delete" method="post" >
                        <input type="hidden" name="postId" value="<%=i._id %>">
                        <h4 class="mt-3"><%=i.header%></h4>
                        <p class="text-justify"><%=i.content%> ... <a href="/posts/<%=i.header %>">Read More</a></p>
                        <button class="btn btn-primary float-right" id="delete">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    
    <%}}%>
     </tbody>
</table>
 <%- include partials/footer.ejs -%>